<nav
  class="fixed top-0 w-full z-[999] bg-[#0a0a0a]/95 backdrop-blur-md border-b border-gray-800 p-5 flex justify-between items-center text-white"
>
  <a
    routerLink="/"
    class="text-xl font-black italic tracking-tighter hover:text-blue-500 transition-colors"
  >
    CINEMA<span class="text-blue-600">HUB</span>
  </a>
  <div class="flex gap-8 text-[11px] font-bold uppercase tracking-widest">
    <a
      routerLink="/"
      routerLinkActive="text-blue-500"
      [routerLinkActiveOptions]="{ exact: true }"
      class="hover:text-blue-400 transition-colors"
      >Katalog</a
    >
    <a
      routerLink="/profile"
      routerLinkActive="text-blue-500"
      class="hover:text-blue-400 transition-colors"
    >
      Kabinet ({{ movieService.favorites().length }})
    </a>
  </div>
</nav>

<main class="bg-black min-h-screen">
  <router-outlet></router-outlet>
</main>
