@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #000000; /* Force black background */
  color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}
