<div class="pt-32 px-8 pb-20 max-w-7xl mx-auto text-white">
  <h2 class="text-4xl font-black mb-10 italic border-l-4 border-blue-600 pl-4 uppercase">
    My Cabinet
  </h2>

  @if (movieService.favorites().length === 0) {
    <div class="text-center py-20 bg-gray-900/50 rounded-3xl border border-gray-800">
      <p class="text-gray-500">No movies saved yet.</p>
    </div>
  } @else {
    <div class="grid grid-cols-2 md:grid-cols-5 gap-8">
      @for (movie of favoriteMovies(); track movie.imdbID) {
        <app-movie-card
          [movie]="movie"
          [isFavorite]="true"
          (toggle)="movieService.toggleFavorite($event)"
        >
        </app-movie-card>
      }
    </div>
  }
</div>
